.idea/aws.xml
frontend/frontend-build.zip
frontend/temp_extract/
frontend/src/config.js~
venv/
# --- Sensitive AWS and Terraform files ---
*.pem
*.key
*.tfstate
*.tfstate.backup
terraform.tfvars
.terraform/
.terraform.lock.hcl

# --- System / Editor files ---
.DS_Store
*.log
*.swp

# --- Python or app caches ---
__pycache__/
.env

